<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col-6">
			<!-- Ricerca pizza per nome -->
			
				<form th:action="@{/pizza/by/name}" method="POST">
					<div class="mb-3">
						<label  class="form-label">Search by name</label>
						<input type="text" class="form-control"  name="name" th:value="${name}">
					</div>
					<button class="btn btn-primary" type="submit" value="search">Search</button>
				</form>
			</div>
			<div class="col-6 d-flex align-items-center">
			<!-- Reindirizza alla rotta /pizza/create -->
				<a class="btn btn-success mb-4" th:href="@{/pizza/create}">New Pizza</a>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-3 mt-2" th:if="${pizze.size() > 0}" th:each="pizza : ${pizze}" th:object="${pizza}">
						<a class="text-decoration-none text-dark" th:href="@{/pizza/{id} (id=*{id})}">
							<div  class="card" style="width: 18rem;">
				  				<img th:src="@{${pizza.photo}}" alt="" class="card-img-top">
				  				<div class="card-body">
				    				<h5 class="card-title">[[ *{name} ]]</h5>
				    				<p class="card-text">[[ *{description} ]]</p>
				    				<p class="card-text">Price: [[ *{price} ]]</p>
				    				<a th:href="@{/pizza/update/{id} (id=*{id})}" class="btn btn-warning">Update</a>
				    				<a th:href="@{/pizza/delete/{id} (id=*{id})}" class="btn btn-danger">Delete</a>
				    				<!--  <a href="#" class="btn btn-primary">Go somewhere</a>-->
				  				</div>
							</div>
						</a>
					</div>
				</div>
				<h1 th:if="${pizze.size() == 0}">No pizza in the database</h1>
			</div>
		</div>
	</div>
</body>
</html>